<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <nav class="navbar navbar-light bg-dark d-flex flex-nowrap">
        <form class="form-inline d-flex justify-content-center w-100">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar evento" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuario
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a routerLink="/event" class="dropdown-item">Agregar evento</a>
              <a routerLink="/login" class="dropdown-item">Cerrar sesion</a>
            </div>
          </div>
    </nav>
    <div class="container d-flex justify-content-around flex-wrap p-4" style="">
        <div class="card mr-3" style="width: 30rem;">
            <img class="card-img-top" src="http://via.placeholder.com/200x150." alt="Card image cap">
            <div class="card-body d-flex justify-content-between">
              <div class="item d-flex flex-column h-100 justify-content-between mr-3">
                  <h5 class="card-title">Card title</h5>
                  <p>Fecha del evento:<br>
                   25/12/2019  8:00pm</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. quick example text to build on the card title and make up the bulk of the card's content</p>
              </div>
              <div class="item d-flex flex-column justify-content-between">
                  <p>25 personas asistiran</p>
                  <img src="http://via.placeholder.com/60x60.">
                  <a href="" class="btn btn-primary ">Asistir</a>
              </div>
            </div>
          </div>
          <div class="card mr-3" style="width: 30rem;">
              <img class="card-img-top" src="http://via.placeholder.com/200x150." alt="Card image cap">
              <div class="card-body d-flex justify-content-between">
                  <div class="item d-flex flex-column h-100 justify-content-between mr-3">
                      <h5 class="card-title">Card title</h5>
                      <p>Fecha del evento:<br>
                       25/12/2019  8:00pm</p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. quick example text to build on the card title and make up the bulk of the card's content</p>
                  </div>
                  <div class="item d-flex flex-column justify-content-between">
                      <p>25 personas asistiran</p>
                      <img src="http://via.placeholder.com/60x60.">
                      <a href="" class="btn btn-primary ">Asistir</a>
                  </div>
              </div>
            </div>
            <div class="card mr-3" style="width: 30rem;">
                <img class="card-img-top" src="http://via.placeholder.com/200x150." alt="Card image cap">
                <div class="card-body d-flex justify-content-between">
                    <div class="item d-flex flex-column h-100 justify-content-between mr-3">
                        <h5 class="card-title">Card title</h5>
                        <p>Fecha del evento:<br>
                         25/12/2019  8:00pm</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. quick example text to build on the card title and make up the bulk of the card's content</p>
                    </div>
                    <div class="item d-flex flex-column justify-content-between">
                        <p>25 personas asistiran</p>
                        <img src="http://via.placeholder.com/60x60.">
                        <a href="" class="btn btn-primary ">Asistir</a>
                    </div>
                </div>
            </div>

    </div>
</body>

<script>
$('#your-custom-id-material').mdbDropSearch();
  </script>
</html>