<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body class="p-5 d-flex justify-content-center aling-items-center" style="height: 100vh">
      <div class="container align-self-center d-flex justify-content-between flex-column p-4 " style="box-shadow: 0px 0px 10px 0px gray;width: 25%;background: #FFFF;">
          <h1 class="titleStyle text-center d-flex justify-content-center align-items-center"> <img src="../../../../assets/media/INDQ.jpg" style="width: 20%;">Iniciar Sesion</h1>
          <form class="was-validated" [formGroup]="RegisterLogin" >
              <p class="text-center" style="font-weight: 600;">Bienvenido !</p>
              <div class="form-group">
                <label class="labelStyle" for="email">E-mail </label>
                <input type="email" class="form-control" formControlName="email" id="email"  placeholder="Ingresa tu correo electronico">
                <div class="invalid-feedback">
                    Por favor de ingresar correctamente su correo electronico
                </div>
              </div>
              <div class="form-group">
                <label class="labelStyle" for="passowrd">Contrasena</label>
                <input type="password" class="form-control " formControlName="password" id="password" placeholder="Ingresa tu Contrasena">
                <div class="invalid-feedback">
                    Por favor de ingresar correctamente su contraseña
                </div>
              </div>
              <div class="d-flex flex-column">
                  <button type="submit" [disabled]="RegisterLogin.invalid" class="btn btn-primary align-self-center">Acceder</button>
                  <a routerLink="/register" class="align-self-center mt-4">No tienes cuenta , Registrate</a>
              </div>
            </form>
      </div>
</body>
</html>